/* Lite Mode -- cloned from "CleanLook" theme */
#main_window
{
border-image: url(:/icons/bg.png) 0 0 0 0 stretch stretch;
    
}

MiniWindow QPushButton {
  color: #777;
  border: 1px solid #CCC;
  border-radius: 0;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 white, stop: 1 #E6E6E6);
  min-height: 30px;
  min-width: 30px;
}

#send_button{
  color: #FFF;
  border: 1px solid #3786E6;
  border-radius: 4px;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 #72B2F8, stop: 1 #3484E6);
  padding: 2px;
  width: 20px;
}

#send_button:disabled{
  color: #D3E8FE;
  border: 1px solid #6DAEF7;
  border-radius: 4px;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 #A5CFFA, stop: 1 #72B2F8);
}
#address_input, #amount_input, #label_input
{
    color: #000;
    padding: 5px;
    border-radius: 5px;
    min-height: 23px;
    border: 1px solid #AAA9A9;
    width: 200px;
}

#address_input[isValid=true]
{
  color: #4D9948;
}

#address_input[isValid=false]
{
  color: #CE4141;
}

#balance_label
{
    color: #333;
}

#history
{
    color: #888;
}


/* Begin Dash Full Wallet CSS */

#main_window_container { /* Wallet Container */
    background: #1e75b4 url(:/icons/navlogo.png) no-repeat left top;
    color: #fff;

    
}

/* Menu Bar */
#main_window_container QMenuBar {
    color: #fff;
        border-bottom: 2px solid red;

}

#main_window_container QMenuBar::item {
    /* background-color:#fff; */

}


/* Navigation Bar */
#main_window_nav_bar {
    border:0;
    border-bottom: 2px solid red;

}
#main_window_nav_bar QTabBar{
    color: #fff;
    border:0;
    border-bottom: 2px solid red;


}

#main_window_nav_bar QTabBar::tab {
    background-color:#1e75b4;
    height: 40px;
    color:#fff;
    padding-left:1em;
    padding-right:1em;
    padding-top:.25em;
    padding-bottom:.25em;
    border-bottom: 2px solid red;

}

#main_window_nav_bar QTabBar::tab:first {
    border-left: 0px solid #fff;
}

#main_window_nav_bar QTabBar::tab:last {
    border-right: 0px solid #fff;
}

#main_window_nav_bar QTabBar::tab:selected, #main_window_nav_bar QTabBar::tab:hover {
    background-color:#0d436e;
    color:#fff;
}

/* History Container */
#history_container {
    border:0px;
    border-image: url(:/icons/bg.png) 0 0 0 0 stretch stretch;

    


    /* background-color:#fff; */
}

/* Send Container */
#send_container {
    border-image: url(:/icons/bg.png) 0 0 0 0 stretch stretch;

}

/* Receive Container */
#receive_container {
    border-image: url(:/icons/bg.png) 0 0 0 0 stretch stretch;

}

/* Addressses Container */
#addresses_container {
    /* background-color:#fff; */

}

/* Contacts Container */
#contacts_container {
    /* background-color:#fff; */

}

/* Console Container */
#console_container {
    /* background-color:#fff; */

}

/* from qt core */

QMenuBar {
    background-color:#fff;
}

QMenuBar::item {
    background-color:#fff;
}

QMenuBar::item:selected {
    background-color:#f8f6f6;
}

QMenu {
    background-color:#f8f6f6;
}

QMenu::item {
    color:#333;
}

QMenu::item:selected {
    background-color:#f2f0f0;
    color:#333;
}

QToolBar {
    background-color:#3398CC;
    border:0px solid #000;
    padding:0;
    margin:0;
}

QToolBar > QToolButton {
    background-color:#3398CC;
    border:0px solid #333;
    min-height:2.5em;
    padding: 0em 1em;
    font-weight:bold;
    color:#fff;
}

QToolBar > QToolButton:checked {
    background-color:#fff;
    color:#333;
    font-weight:bold;
}

QMessageBox {
    background-color:#F8F6F6;
}

/*******************************************************/

QLabel { /* Base Text Size & Color */
    font-size:12px;
    color:#333333;
}



/*******************************************************/

QPushButton { /* Global Button Style */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #64ACD2, stop: .1 #3398CC, stop: .95 #3398CC, stop: 1 #1D80B5);
    border:0;
    border-radius:3px;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    padding-left:25px;
    padding-right:25px;
    padding-top:5px;
    padding-bottom:5px;
    min-height:25px;
}

QPushButton:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #64ACD2, stop: .1 #46AADE, stop: .95 #46AADE, stop: 1 #1D80B5);
}

QPushButton:focus {
    border:none;
    outline:none;
}

QPushButton:pressed {
    border:1px solid #333;
}

QComboBox { /* Dropdown Menus */
    border:1px solid #82C3E6;
    padding: 3px 5px 3px 5px;
    background:#fcfcfc;
    min-height:25px;
    color:#818181;
}

QComboBox:checked {
    background:#f2f2f2;
}

QComboBox:editable {
    background: #3398CC;
    color:#616161;
    border:0px solid transparent;
}

QComboBox::drop-down {
    width:25px;
    border:0px;
}

QComboBox::down-arrow {
    border-image: url(':/images/drkblue_downArrow') 0 0 0 0 stretch stretch;
}

QComboBox QListView {
    background:#fff;
    border:1px solid #333;
    padding-right:1px;
    padding-left:1px;
}

QComboBox QAbstractItemView::item { margin:4px; }

QComboBox::item {
    color:#818181;
}

QComboBox::item:alternate {
    background:#fff;
}

QComboBox::item:selected {
    border:0px solid transparent;
    background:#f2f2f2;
}

QComboBox::indicator {
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}

QAbstractSpinBox {
    border:1px solid #82C3E6;
    padding: 3px 5px 3px 5px;
    background:#fcfcfc;
    min-height:25px;
    color:#818181;
}

QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width:21px;
    background:#fcfcfc;
    border-left:0px;
    border-right:1px solid #82C3E6;
    border-top:1px solid #82C3E6;
    border-bottom:0px;
    padding-right:1px;
    padding-left:5px;
    padding-top:2px;
}


QAbstractSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width:21px;
    background:#fcfcfc;
    border-top:0px;
    border-left:0px;
    border-right:1px solid #82C3E6;
    border-bottom:1px solid #82C3E6;
    padding-right:1px;
    padding-left:5px;
    padding-bottom:2px;
}

/*******************************************************/

QHeaderView { /* Table Header */
    background-color:transparent;
    border:0px;

}

QHeaderView::section { /* Table Header Sections */
    qproperty-alignment:center;
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #4c97bf, stop: 1 #56ABD8); 
    color:#fff;
    min-width: 50px;
    min-height:25px;
    font-weight:bold;
    font-size:11px;
    outline:0;
    border:0px solid #fff;
    border-right:1px solid #56ABD8;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
}

QHeaderView::section:last {
    border-right: 0px solid #d7d7d7;
}

/**********************/
QLineEdit  {
    color: #333;
    min-height:25px;
    background: #fff;
}
ButtonsLineEdit {
    color: #333;
    min-height:25px;
    background: #fff;
}

QLabel {
    color: #333;
    min-height:25px;
}
